{% extends "base_generic.html" %}

{% block content %}
    {% if user.is_authenticated %}
        {% if cart.owner.username == user.username %}
            <h1>{{ cart.owner.username }}</h1>
            <p>Items in cart: {{ cart.iteminstance_set.count }}</p>
            {% if cart.iteminstance_set.count > 0 %}
            <p>
                <form action="{% url 'createorder' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" value="Submit order">Submit order</button>
                </form>
            </p>
            {% endif %}
            {% for iteminstance in cart.iteminstance_set.all %}
                 <p><strong>{{ iteminstance.item.name }}, <a href="{{ iteminstance.get_absolute_url }}">{{ iteminstance.id }}</a>, {{ iteminstance.item.price }}</strong>
                    <p><strong>Availability</strong> {{ iteminstance.status }}</p>
                    <form action="{% url 'removeCart' iteminstance.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" value="Remove from cart">Remove from cart</button>
                    </form>
                </p>
            {% endfor %}
		{% endif %}
{% endif %}
{% endblock %}

