{% extends "base_generic.html" %}

{% block content %}
  <h1>Item List</h1>
  {% if item_list %}
  <ul>
    {% for item in item_list %}
      
        <a href="{{ item.get_absolute_url }}">
		<table><tr>
		<td><img src="{{ item.picture.url }}" alt="{{ item.name }}" width="200" height="300"></td>
          <td>{{ item.name }}</td>
		  <td>{% for product_type in item.product_type.all %}
		  {{ product_type }}{% endfor %}</td>
		  <td>${{ item.price }}</td>
		  </tr></table>
		</a>
      
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no items in inventory.</p>
  {% endif %}       
{% endblock %}