{% extends "base_generic.html" %}

{% block content %}
  <h1>Item: {{ iteminstance.item.name }}</h1>

  <p><strong>Price</strong> {{ iteminstance.item.price }}</p>
  <p><strong>ID</strong> {{ iteminstance.id }}</p>
  {% for product_type in iteminstance.item.product_type.all %}
      <p><strong>{{ product_type }}</strong></p>
  {% endfor %}
  <p><strong>Number in Stock</strong> {{ iteminstance.item.iteminstance_set.all.count }}</p>
  <p><strong>Availability</strong> {{ iteminstance.status }}</p>
  <form action="{% url 'addToCart' iteminstance.id %}" method="post">
    {% csrf_token %}
    <button type="submit" value="Add to cart">Add to cart</button>
  </form>
{% endblock %}